.form-doctors {
  margin: 2px;
  padding-left: 30px;
}
.add_doctors {
  width: 100%;
  height: 100%;
}

.add-doctors {
  float: left;
  flex: 1;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}
.add-doctors:hover {
  transform: translateY(-5px);
}
.fullcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.fullcontainer2 {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .service-container1 {
    width: 100%;
  }

  .fullcontainer2 {
    width: 100%;
    height: 100%;
  }
}
/*appointment CSS*/

.appmt1 {
  margin: 10px;
  width: 98%;
  height: 100%;
}

.appmt1 .appmt-container {
  display: grid;
  width: 100%;
  height: 50%;
  margin: 5px 14px auto;
  justify-content: center;
  background-color: rgba(187, 248, 248, 0.664);
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}
.appmt1 .appmt-container:hover {
  transform: translateY(-5px);
}
.appmt2 {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}
.appmt2:hover {
  transform: translateY(-5px);
}
.nav-admin {
  width: 100%;
  height: 30%;
}
.appmt-form {
  width: 50%;
}
.box{
  width: 65%;
  margin-left: 100px;
}
@media (max-width: 900px) {
  .appmt-form {
    width: 100%;
  }

  
}
.box-space{
  row-gap:16px;
}
.fg{
  margin-top: 16px;
}
/*appointment CSS Ends*/
